#battery {
    display: inline-flex;
}

#batteryLeft {
    display: inline-grid;
}

#batteryCanvasDown {
    margin: var(--margin);
    border: 0.5mm solid #ffffff;
    border-radius: 12.5px;
}

#batteryRight {
    margin: var(--margin);
    margin-left: 0;
}

#batteryLoadText{
    font-size: 7mm;
    height: 7mm;
    line-height: 100%;
}

#batteryLoad{
    font-size: 7mm;
    height: 7mm;
    line-height: 100%;
}

#batteryChageText{
    font-size: 7mm;
    height: 7mm;
    line-height: 100%;
}

#batteryCharge{
    font-size: 7mm;
    height: 7mm;
    line-height: 100%;
}