/*---Battery---*/
#battery {
    margin: 5mm;
}

#batteryLoadBar {
    aspect-ratio: 8;
    width: 80%;
    left: 10%;
    right: 10%;
    position: relative;
    border-radius: 12.5px;
}


#songIcon {
    font-family: FantasqueSansMonoNerdFont;
}

#artistIcon {
    font-family: FantasqueSansMonoNerdFont;
}