#timeDate {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#time {
    height: 11mm;
    margin: 0;
    margin-top: var(--margin);
    margin-left: var(--margin);
    margin-right: var(--margin);
    display: inline-flex;
}

#clockIcon {
    font-family: FantasqueSansMonoNerdFont;
    height: 1cm;
    width: 1cm;
    font-size: 1cm;
    line-height: 100%;
}

#timePP {
    height: 1cm;
    width: 5mm;
    font-size: 1cm;
    line-height: 80%;
    font-family: NotoSerifJapanese;
}

#timeText {
    font-size: 1cm;
    height: 1cm;
    line-height: 100%;
}

#underLine {
    height: 0.5mm;
    margin-top: 0;
    margin-left: var(--margin);
    margin-right: var(--margin);
    margin-bottom: 1mm;
    width: 95mm;
    background-color: var(--white);
}

#date {
    margin: 0;
    margin-left: var(--margin);
    margin-right: var(--margin);
    margin-bottom: var(--margin);
    height: 7mm;
    display: inline-flex;
}

#calendarIcon {
    font-family: FantasqueSansMonoNerdFont;
    height: 7mm;
    font-size: 7mm;
    width: 7mm;
    line-height: 100%;
}

#datePP {
    height: 7mm;
    width: 4mm;
    font-size: 7mm;
    line-height: 90%;
    font-family: NotoSerifJapanese;
}

#dateText {
    font-size: 7mm;
    height: 7mm;
    line-height: 100%;
}